@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;   /* smaller than default (8px or 12px) */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
